    {% extends 'base.html.twig' %}

    {% block title %}Hello AccountGestionController!{% endblock %}

    {% block body %}
    <div>

        <a class="btn btn-primary" href="{{path('app_articlec')}}">Publier un article</a>

        {% for article in articles %}
            {% if article.isbuy %}
            <p style='color:red'>{{ article.name}}</p>
            {% else %}
                <p>{{ article.name}}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock %}