{% extends 'base.html.twig' %}

{% block body %}
	<section class="edit-article d-flex justify-content-center align-items-center" style="height:85vh">
		<div class="form-edit-article w-25">
			{{ form(form) }}

			</div>
		</section>
	{% endblock %}
