{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<section class="section-conversation">
		<div class="container-fluid container-conversations ">
			{% for conversation in conversations_id %}

				<p>
					{% if conversation[0].UserID.getId == userid %}
						<p>{{ conversation[0].user2.email }}
							<a href="{{ path ('app_message', {'id' : conversation[0].user2.getId}) }}">Discussion</a>
						</p>
					{% endif %}
				</p>

			{% endfor %}

		</div>
	</section>


{% endblock %}
